<app-header titulo="Componentes"></app-header>

<ion-content [fullscreen]="true">

      <ion-button>Activo</ion-button>
      <ion-button [disabled]="true">Inactivo</ion-button>
      <ion-button fill="outline">Sin relleno</ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button expand="block">Block</ion-button>
      <ion-button expand="full">Full</ion-button>
      <ion-button shape="round">Redondo</ion-button>
      <ion-button color="secondary">Color secundario</ion-button>

      <ion-input label="Nombre" label-placement="floating" placeholder="Escribe tu nombre"></ion-input>

      <ion-toggle justify="space-between">Activar Notificaciones</ion-toggle>

      <ion-range label-placement="start" [pin]="true" [pinFormatter]=""></ion-range>

      <ion-checkbox justify="start">Acepto los términos y condiciones</ion-checkbox>

      <ion-searchbar placeholder="Buscar producto..."></ion-searchbar>


</ion-content>
