<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="hub-header">
    <h1>NopalByte</h1>
    <p>Creadores de "Códice Carmesí"</p>
  </div>

  <ion-card class="hub-list-card">
    <ion-card-content>
      <p>
        NoplaByte es una empresa dedicada al desarrollo de videojuegos. Nuestro proyecto más reciente es
        <strong>"Códice Carmesí"</strong>, un juego con un universo detallado y mecánicas complejas, pensado para brindar una experiencia inmersiva a los jugadores.
      </p>
    </ion-card-content>
  </ion-card>

  <div class="hub-header" style="margin-top: 2rem;">
    <h1>El Compendio Carmesí</h1>
  </div>

  <ion-card class="hub-list-card">
    <ion-card-content>
      <p>
        Esta aplicación complementaria sirve como un centro indispensable para la comunidad de jugadores, permitiendo:
      </p>
      <ul>
        <li>Acceder a guías detalladas.</li>
        <li>Consultar el bestiario.</li>
        <li>Explorar el lore del juego.</li>
        <li>Participar en un foro de estrategias.</li>
      </ul>
      <p>
        Nuestro objetivo es extender la experiencia del juego, permitiendo a los jugadores mantenerse conectados e inmersos en el universo de "Códice Carmesí", incluso cuando no están frente a su PC.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
