:host {
  ion-card.hub-list-card {
    --background: var(--color-list-item);
    --border-radius: 12px;
    margin-bottom: 1.5rem;
    color: var(--ion-text-color);

    p, li {
      color: var(--ion-text-color);
      text-align: justify;
    }

    ul {
      padding-left: 1.2rem;
      li {
        margin-bottom: 0.5rem;
      }
    }
  }

  .hub-header {
    margin-bottom: 1.5rem;
    h1 {
      font-size: 1.8rem;
      font-weight: 700;
      color: white;
      margin-bottom: 0.25rem;
    }
    p {
      font-size: 1rem;
      color: var(--color-text-muted);
    }
  }
}
