ion-tab-bar {
    --background: #25282c; 
    --border-color: #3a3d42; 
    --color: #888; 
    --color-selected: #c94a4a; 
    height: 70px;
    padding-bottom: 5px; 
  }
  
  ion-tab-button {
    i { 
      font-size: 1.3rem;
      margin-bottom: 4px;
      line-height: 1; 
    }
    ion-label {
      font-size: 0.7rem;
      font-family: 'Inter', sans-serif; 
    }
  }