<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
<!-- Define tabs de navegacion  -->
    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lore">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Lore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="foro">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>foro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>