<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Comunidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="posts$ | async as posts; else loading">
    
    <div *ngIf="posts.length === 0" class="ion-text-center ion-padding">
      <ion-icon name="chatbubbles-outline" size="large"></ion-icon>
      <h3>No hay publicaciones</h3>
      <p>¡Sé el primero en crear una!</p>
    </div>

    <ion-card *ngFor="let post of posts" (click)="openPost(post.id)">
      <ion-card-header>
        <ion-card-title>{{ post.title }}</ion-card-title>
        <ion-card-subtitle>
          Por: {{ post.authorName }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{ post.content | slice:0:120 }}...
        
        <p class="ion-text-right">
          <ion-note>
            {{ post.createdAt.toDate() | date: 'short' }}
          </ion-note>
        </p>
      </ion-card-content>
    </ion-card>

  </div>

  <ng-template #loading>
    <ion-list>
      <ion-item *ngFor="let i of [1,2,3]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToCreatePost()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>